@inject ILocalStorageService LocalStorage

@if (_currentUser != null && _currentUser.UserId != Guid.Empty)
{
    <div class="ms-4 me-4">
        <Notifications/>
    </div>
    <div class="ms-4 me-4">
        <MudAvatar Color="Color.Secondary">@_currentUser.UserName[0]</MudAvatar>
    </div>
    <div class="ms-4 me-4">
        <MudButton ButtonType="ButtonType.Button" Href="/Profile" Variant="Variant.Filled" Color="Color.Secondary">My profile</MudButton>
    </div>
    <div class="ms-4 me-4">
        <MudButton ButtonType="ButtonType.Button" Href="/Logout" Variant="Variant.Filled" Color="Color.Secondary">Logout</MudButton>
    </div>
}

@code {

    private CurrentUser _currentUser;

    protected override async Task OnInitializedAsync()
    {
        var contains = await LocalStorage.ContainKeyAsync("user");

        if (contains)
        {
            _currentUser = await LocalStorage.GetItemAsync<CurrentUser>("user");
        }
    }

}