<MudButton ButtonType="ButtonType.Button" Href="/" Variant="Variant.Filled" Color="Color.Secondary">Home</MudButton>
<MudSpacer />
<div class="align-items-center d-flex">
    <LoggedMenuComponent/>
</div>
