@page "/Profile"

<CheckLogged/>

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<PageTitle>Your profile</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="py-4">

    @switch (_posts)
    {
        case null when _loading:
            <MudText>Loading...</MudText>
            break;
        case null when !_loading:
            <div class="text-center">
                <MudText Typo="Typo.h5">You dont have any posts. Maybe add someone?</MudText>
                <MudLink Href="/Form" Color="Color.Secondary" Underline="Underline.Hover" Class="m-2"><MudIconButton Icon="@Icons.Material.Filled.Add"/></MudLink>
            </div>
            break;
        default:
        {
            if (_posts != null)
            {
                <div class="text-center">
                    <MudText Typo="Typo.h5">Add new post</MudText>
                    <MudLink Href="/Form" Color="Color.Secondary" Underline="Underline.Hover" Class="m-2"><MudIconButton Icon="@Icons.Material.Filled.Add"/></MudLink>
                </div>
                foreach (var post in _posts)
                {
                    <div class="my-3">
                        <SimplePostComponent PostDto="post" OnDelete="HandleDelete"/>
                    </div>
                }
            }
            else
            {
                <MudText>Something went wrong please contact administrator.</MudText>
            }
            break;
        }
    }

</MudContainer>

@code {
    private List<SimplePostDto>? _posts;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        var user = await LocalStorage.GetItemAsync<CurrentUser>("user");
        _posts = await Http.GetFromJsonAsync<List<SimplePostDto>>($"/post/{user.UserId}");
        _loading = false;
    }

    private void HandleDelete(Guid postId)
    {
        var itemToRemove = _posts?.FirstOrDefault(p => p.Id == postId);
        if (itemToRemove == null) return;
        _posts?.Remove(itemToRemove);
        StateHasChanged();
    }



}