@page "/Register"
@inject HttpClient Http
@inject ISnackbar Snackbar

<PageTitle>Register to our service</PageTitle>

<MudContainer>
    <MudTextField @bind-Value="_request.Name" T="string" InputType="InputType.Text" Label="User name"></MudTextField>
    <MudTextField @bind-Value="_request.Email" T="string" InputType="InputType.Email" Label="E-mail"></MudTextField>
    <MudTextField @bind-Value="_request.Password" T="string" InputType="InputType.Password"
                  Label="Password"></MudTextField>
    <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="RegisterClicked">Register</MudButton>
    <MudLink Href="/Login" Color="Color.Primary" Underline="Underline.Hover">Already have account? Login then</MudLink>
    @if (_showLinks)
    {
        <div>
            <MudLink Href="/Login" Color="Color.Secondary" Underline="Underline.Hover">Login page</MudLink>
        </div>
        <div>
            <MudLink Href="/" Color="Color.Secondary" Underline="Underline.Hover">Home page</MudLink>
        </div>
    }
</MudContainer>

@code {
    private bool _showLinks;
    private readonly RegisterRequest _request = new();

    private async Task RegisterClicked()
    {
        var response = await Http.PostAsJsonAsync($"{Utils.API_URL}/user/register", _request);
        var content = await response.Content.ReadFromJsonAsync<BaseResponse>();

        if (!content!.IsSuccessful)
        {
            Snackbar.Add(content.Message!, Severity.Error);
            return;
        }

        _showLinks = true;
    }

}